@model WebApp2021.Models.Ingredient

@{
    Layout="_Layout";
    ViewBag.Title = "Ingredient details";
}

<style>
    .dl-horizontal {
        margin-top: 20px;
    }

        .dl-horizontal dt {
            text-align: left;
            width: 300px;
            font-size: large;
        }

        .dl-horizontal dd {
            font-size: large;
            text-align: left
        }
</style>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbs):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protein):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protein)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaloriesPer100Gram):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaloriesPer100Gram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KosherType):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KosherType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>